@font-face {
    font-family: "WDXL Lubrifont TC";
    src: url('./fonts/WDXLLubrifontTC-Regular.ttf');
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: "SF-Regular";
    src: url('./fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
    font-family: "SF-Semibold";
    src: url('./fonts/SF-Pro-Display-Semibold.otf');
}

@font-face {
    font-family: "Jura";
    src: url('./fonts/Jura-VariableFont_wght.ttf');
}

@font-face {
    font-family: "SyneMono";
    src: url('./fonts/SyneMono-Regular.ttf');
}

@import "tailwindcss";

.scrollbar-review {
  scrollbar-width: thin;
  scrollbar-color: rgb(72, 70, 70) white;
}

.button-film {
  display: flex;
  font-family: "SF-Regular";
  align-items: center;
  border-radius: 2rem;
  height: 2.5rem;
  padding: 1rem;
  color: #fff;
  background-color: #000000;
}

.button-film.active {
  display: flex;
  font-family: "SF-Regular";
  align-items: center;
  border-radius: 2rem;
  height: 2.5rem;
  padding: 1rem;
  border: 0.1rem solid black;
  color: black;
  background-color: #fff;
}

/* для Chrome/Edge/Safari */
.scrollbar-review::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
.scrollbar-review::-webkit-scrollbar-track {
  background: white;
}
.scrollbar-review::-webkit-scrollbar-thumb {
  background-color: rgb(72, 70, 70);
  border-radius: 5px;
  border: 3px solid white;
}


@plugin "daisyui/theme" {
  name: "newCoffee";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(24% 0.023 329.708);
  --color-base-200: oklch(21% 0.021 329.708);
  --color-base-300: oklch(16% 0.019 329.708);
  --color-base-content: oklch(72.354% 0.092 79.129);
  --color-primary: oklch(71.996% 0.123 62.756);
  --color-primary-content: oklch(14.399% 0.024 62.756);
  --color-secondary: oklch(34.465% 0.029 199.194);
  --color-secondary-content: oklch(86.893% 0.005 199.194);
  --color-accent: oklch(41% 0.159 10.272);
  --color-accent-content: oklch(88.524% 0.014 224.389);
  --color-neutral: oklch(16.51% 0.015 326.261);
  --color-neutral-content: oklch(83.302% 0.003 326.261);
  --color-info: oklch(79.49% 0.063 184.558);
  --color-info-content: oklch(15.898% 0.012 184.558);
  --color-success: oklch(74.722% 0.072 131.116);
  --color-success-content: oklch(14.944% 0.014 131.116);
  --color-warning: oklch(88.15% 0.14 87.722);
  --color-warning-content: oklch(17.63% 0.028 87.722);
  --color-error: oklch(77.318% 0.128 31.871);
  --color-error-content: oklch(15.463% 0.025 31.871);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui" {
  themes: autumn --default, newCoffee --prefersdark;
}



@theme {
    --font-idiotherne: "SyneMono", 'sans-serif';
    --font-filmName: "PlayfairDisplay", 'sans-serif';
    --font-semibold: "SF-Semibold", 'sans-serif';
    --font-regular: "SF-Regular", 'sans-serif';
    --font-jura: "Jura", "sans-serif";
}

html {
    scrollbar-width: none;
    font-family: "WDXL Lubrifont TC", sans-serif;
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}